@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&family=Work+Sans:wght@300;400;500&display=swap');
body{
    margin: 0 200px;

}
.nav-par{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color:darkgray;
    left: 0%;
    top: 0%;
    }
.img-logo{
    width: 100px;
    /* margin-top: 30px; */
    margin-left: 210px;
    border-radius: 50%;
}
.gsearch{
    margin-top: 10px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid orange;
}
.search-txt{
    color:bisque;
    font-size: 20px;
}
.icon-search{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: -10px;
}
.icon-search:hover{
cursor: pointer;
}
.navUL{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    /* margin-top: 60px; */
}
.navLI{
    margin-right: 10px;
    font-family: Roboto, Arial, sans-serif;
    font: size 15px;
    line-height: 30px;
    height: 30px;
    font-weight: 400;
    color: grey;
    }
    .navUL :hover{
        color: black;
    cursor: pointer;
    }
    .depart-list{
        list-style: none;
        padding: 0;
        box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
    display: none;
    position: absolute;
    margin-left: -90px;
    background-color: white;
    }
    .depart-list-item{
        font-family: Roboto, Arial, sans-serif;
          font: size 15px;
          color: grey;
          padding: 12px 13px;
          }
            
    .depart-list-item:hover{
    color: black;
    background-color:rgb(248, 242, 242);
    }
    
    
    #Departments:hover .depart-list{
        display: flex;
        flex-direction: column;
    }
    .signinUL{
        list-style: none;
        padding: 0;
        box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
    display: none;
    position: absolute;
    margin-left: -90px;
    background-color: white;
    }
    .SigninLI{
        font-family: Roboto, Arial, sans-serif;
          font: size 15px;
          color: grey;
          padding: 12px 13px;
          text-decoration: none;
    }
    .add-shopping{
        height: 50px ;
        width: 50px;
        margin-right: 100px;
        border-radius: 10px;
    }
    .add-shopping:hover{
        cursor: pointer;
    }
    .welcome-txt{
        margin-top: 200px;
        display: flex;
        justify-content: center;
        color: orange;
        font-family: "Work Sans", Arial, sans-serif;
        font-weight: 500;
        font-size: 40px;
    }
    .div-Ads{
        display: flex;
        align-items: center;
    }
    .Ads{
        width: 90%;
        height: 500px;
        margin: auto;
    }
    .Ads:hover{
      cursor: pointer;
    }
    .SigninLI:hover{
        color: orange;
        background-color:rgb(248, 242, 242);
        }
        #signin:hover .signinUL{
            display: flex;
            flex-direction: column;
            }
            .box-par{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-top: 100px;
            }
            .div-parent{
                width: 258px;
                border: 1px solid orange;
                margin-left: 10px;
                margin-bottom: 40px;
            }
        .box{
            display: flex;
            height: 200px;
            width: 258px;
            margin-right: 20px;
            margin-bottom: 20px ;
            border: 1px solid orange;
        } 
        .div-shopping-carte{
            display: flex;
            justify-content: flex-end;
        }  
        .shopping-carte{
            width: 30px ;
            height: 30px ;
            margin-right:20px;
            margin-bottom: 10px;
        } 
        .shopping-carte:hover{
            cursor: pointer;
        }
        .box :hover{
            cursor: pointer;
        }
        .s-image1{
            margin-top: 30px;
            height: 150px;
            width: 90%;
            padding-left: 10px;
        }
        .box-txt{
            padding-left: 10px;
            width: 258px;
            font-family: "Amazon Ember", Arial, sans-serif;
            font-size: 16px;
            line-height: 24px;
        }
    .s-image2{
        height: 200px;
        width: 95%;
        padding-left: 10px;
    }
.s-image3{
    padding-top: 15px;
    height: 175px;
    width: 80%;
    padding-left: 20px;
}
.s-image4{
margin-top: 30px;
height: 150px;
width: 90%;
padding-left: 10px;
}
.box4-txt{
padding-left: 10px;
width: 258px;
font-family: "Amazon Ember", Arial, sans-serif;
font-size: 16px;
line-height: 24px;
}
.s-image5{
margin-top: 30px;
height: 150px;
width: 90%;
padding-left: 10px;
}
.box5{
display: flex;
height: 200px;
width: 258px;
margin-right: 20px;
margin-bottom: 20px ;
border: 1px solid orange;
}    
.s-image5{
margin-top: 30px;
height: 150px;
width: 90%;
padding-left: 10px;
}
.footer{
    background-color: rgb(34, 33, 33);
    width: 1480px;
    height: 400px;
    /* left: 0 !important; */
    margin: 0 -200px;
    margin-top: 100px;
}
.footer1{
    display: flex;
    justify-content: space-around;
}
.titre{
    color: white;
   padding-top: 50px;
    margin-left: 40px;
    font-family: "Work Sans", Arial, sans-serif; 
    font-weight: 300;
}
.titre-UL{
    color: rgb(216, 213, 213);
    margin-top: 10px;
    list-style: none;
}
.titre-li:hover{
    cursor: pointer;
    text-decoration:underline;
}
.titre1{
    color: white;
   padding-top: 20px;
    margin-left: 40px;
    font-family: "Work Sans", Arial, sans-serif; 
    font-weight: 300;
    padding-left: 90px;
}
.fac{
    height: 1px;
    width: 1px;
    margin-right:120px;
}
.img-footer{
    height: 30px;
    width: 30;
    border-radius: 100%;
    margin-left:10px;
}
.img-footer:hover{
    cursor: pointer;
}